@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header: #c75b7a;
  --background: #921a40;
  --font-color: #f5f5f5;
  --secondary-font-color: #f4d9d0;
  --alternative-font-color: #000000;
  --placeholder: #00000090;
  --accent: #d9abab;
  --checkmark: #b03052;
}

body {
  font-family: Yantramanav, sans-serif;
  color: var(--font-color);
  background-color: var(--background);
}

button,
select {
  cursor: pointer;
}

dialog {
  margin: auto;
}

:focus {
  outline: none;
}

header {
  background-color: var(--header);
  padding: 1.5rem 30%;
}

header > nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-size: 1.25rem;
  cursor: pointer;
}

.title-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  padding: 5rem 40%;
}

.day {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.date {
  font-weight: 300;
  text-align: center;
  color: var(--secondary-font-color);
}

.previous,
.next {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--accent);
  background-color: transparent;
  border: none;
}

main {
  padding: 0.5rem 30%;
}

.input-wrapper {
  position: relative;
}

.input-wrapper > input {
  font-size: 1rem;
  background-color: var(--accent);
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
}

.input-wrapper > button {
  visibility: hidden;
  background: transparent;
  border: none;
  color: var(--placeholder);
  font-size: 1.1rem;
  position: absolute;
  height: 100%;
  padding-right: 1rem;
  right: 0;
}

::placeholder {
  color: var(--placeholder);
  font-family: Yantramanav, sans-serif;
}

.tasks-list {
  margin-top: 1rem;
}

.task-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.task-note {
  font-size: 0.9rem;
  font-weight: 200;
}

.task-date-and-time {
  font-size: 0.75rem;
  margin-left: auto;
}

.manage-task {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--font-color);
  padding: 0.5rem;
  background-color: transparent;
  border: none;
}

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0.1rem;
  border: none;
  border-radius: 50%;
  background-color: var(--accent);
}

input[type='checkbox']::before {
  content: '';
  width: 1rem;
  height: 1rem;
  clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
  transform: scale(0);
  background-color: var(--checkmark);
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

main > dialog[open] {
  color: var(--secondary-font-color);
  background-color: var(--header);
  padding: 2rem;
  border: none;
  border-radius: 10px;
  width: 40vw;
  position: relative;
}

.task-form {
  display: flex;
  flex-direction: column;
}

.task-form input {
  background-color: var(--accent);
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.category-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.75rem 0;
}

#category {
  border: none;
  width: 100%;
  font-size: 1rem;
  color: var(--alternative-font-color);
  background-color: var(--accent);
  padding: 0.5rem;
  border-radius: 5px;
}

.task-form input:focus,
#category:focus {
  outline: 2px dotted var(--background);
}

fieldset {
  border: none;
  margin-top: 0.5rem;
}

legend {
  margin-bottom: 0.5rem;
}

.daily-recurrence,
.weekly-recurrence {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

.weekly-recurrence {
  display: none;
  margin: 0.5rem 0;
}

.daily-recurrence input:focus,
.weekly-recurrence input:focus {
  outline: none;
}

.daily-recurrence input,
.weekly-recurrence input {
  margin-bottom: 0;
  cursor: pointer;
}

.weekly-recurrence input {
  appearance: none;
  transform: scale(2);
  border-radius: 2.5px;
}

.daily-recurrence input:checked,
.weekly-recurrence input:checked {
  background-color: var(--checkmark);
}

.daily-recurrence input:checked::before {
  all: unset;
  content: '';
  width: 1rem;
  height: 1rem;
}

.daily-recurrence div,
.weekly-recurrence div {
  display: grid;
  position: relative;
}

.daily-recurrence label,
.weekly-recurrence label {
  font-weight: bold;
  color: var(--checkmark);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

input[type='submit'] {
  margin-top: 2rem;
  border: none;
  padding: 0.75rem;
  border-radius: 5px;
  font-weight: bold;
  color: var(--secondary-font-color);
  background-color: var(--background);
  cursor: pointer;
}

.cancel-btn {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--accent);
  background-color: var(--background);
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.25rem;
  border: none;
  border-radius: 25%;
  height: 2rem;
  width: 2rem;
}

::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--checkmark);
  border-radius: 4px;
}
